
.init{
}
.init:after{
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.listType{
    list-style-type: none;
}
.ul{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 0 10px 0;
}
.li{
    composes:listType ;
    text-align: center;
    margin-right:10px;
    color: #aeaeae;
}
.li :hover{
    background-color: #cccccc;
    color: #414141;
}
.love :hover{
    background-color: #fee9ee;
    color: #fa6c8d;
}
.li span{
    display: inline-block;
    padding:8px;
    cursor: pointer;
    font-size: 20px;
}
.replyNum{
    color: #ff28b3;
}
