
.init{
    width:100%;
    height:100%;
    background-color: #f7f8fa;
    padding-bottom:10px;
    overflow: hidden;
}
.item{
    position: relative;
	display: block;
	width:100%;
    padding:10px 0;
	vertical-align: middle;
	border:none;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: #333;
}
.userHead{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.postContent{
    padding-left:55px;
    padding-right:10px;
}
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
    height: 30px;
    font-size: 12px;
}
.userName{
    display: inline-block;
}
.time{
    display: inline-block;
}
.article{
    width:100%;
    min-height:30px;
    margin-bottom:5px;
    background-color: inherit;
}
.operationContainer{
    height:45px;
}
.operationContainer:after{
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.operation{
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    width:220px;
}
.operation li{
    float: left;
    list-style-type: none;
    text-align: center;
    margin-left:10px;
}
.operation li :hover{
    background-color: #ff5c45;
}
.operation li span{
    display: inline-block;
    padding:8px;
    font-size: 14px;
    cursor: pointer;
}
.replyBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:10px;
    margin-bottom:15px;
    font-size: 13px;
}
.replyBtn span{
    margin-left:55px;
}
.replyBtn a{
    color: #08c;
    margin:0 5px;
}

.editor{
    background-color: #fff8f9;
    border: 1px solid #bbd6f1;
    font-size: 13px;
    width: 695px;
    margin-left: 50px
}

