.init{
	display: inline-flex;;
    height:100%;
    vertical-align: middle;
    align-items:center;
	background-image: none;
	border: none;
	white-space: nowrap;
	outline: none;
	color: #333;
	background-color: transparent;
}
.login{
	margin-right: 10px;
}