
.init{
	display: block;
    position: relative;
	width:100%;
	height:420px;
	vertical-align: middle;
	border: none;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: #333;
    background-image :url("../../imgSource/userHeaderBg.jpg");
    background-size: cover;
}
.content{
    display: flex;
    justify-content: space-between;
    width:100%;
    position: absolute;
    height:135px;
    bottom:35px;
    background-color: rgba(255, 255, 255, 0.71);
}
.userHead{
    display: inline-block;
    width:110px;
    height:110px;
    margin:10px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
}
.userName{
    display: inline-block;
    vertical-align: top;
}
.userName h2{
    margin:10px;
 }
.userName h4{
    margin:10px;
}
.footer{
    width:100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom:0;
    height:35px;
    background-color: rgba(255, 255, 255, 0.91);
    font-size: 13px;
    color: #8e8e8e;
}
.footer div{
    margin-left:10px;
}
.footer span{
    color: #232323;
}