.width{
	width: 220px;
	padding:0 5px;
}
.init{
	position: relative;
	display: inline-block;
}
.input{
	composes: width;
	height:30px;
	display: inline-block;
	vertical-align: middle;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: #333;
	background-color: transparent;
}
.input:hover{
	/*opacity: 0.9;*/
	/*background-color: #d1d1d1;*/
}
.input:focus{
	outline: none;
	background-image: none;
	-moz-box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	box-shadow: 0 0 8px #ccc;
}
.p{
	composes: width;
	position: absolute;
	font-size: 14px;
	top:-85px;
	height:50px;
	line-height: 25px;
	border: 1px solid #ccc;
	background: #ffffff;
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px  rgba(0,0,0,.2);
}
.triangle{
	position: absolute;
	width: 0;
	height: 0;
	bottom:-15px;
	left:50%;
	margin-left:-7.5px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #e2e2e2;
}
.ul{
	width:99%;
	position: absolute;
	text-align: left;
	padding:0;
	margin:0;
	font-size:15px;
	border: 1px solid #ccc;
	border-top:none;
}
.li{
	width: 100%;
	list-style-type: none;
	cursor: pointer;
}
.li:hover{
	color: #ffffff;
	background-color: #0078e7;
}
.span{
	display: inline-block;
	font-size: inherit;
	padding:5px 0 5px 5px;
}