.init{
    /*display: flex;*/
    /*width:100%;*/
    /*margin-top:30px;*/
}
.init section{
    margin-top:30px;
}
.init label{
    display: block;
    font-weight: 600;
}
.item{
    display: flex;
    font-size: 14px;
    color: #818181;
}
.item span{
    margin:0 5px;
    font-size: 16px;
    font-weight: 600;
    color: #373737;
}
.item div{
    margin: 20px 20px 5px 10px;
}
.upvote{
    color: #fa6c8d;
}
.inlineSection{
    width:50%;
    display: inline-block;
}
.content{
    font-size: 14px;
    border-left:2px solid #e9e9e9;
    color: #818181;
    margin:10px 0;
    padding:5px 0;
}
.content p{
    margin:5px 10px;
}
.content p:nth-child(2){
    margin-left:5px ;
}
.content a{
    color: #08c;
    margin:0 5px;
}