.init{
	display: inline-block;
    margin:10px;
    width:160px;
    height:30px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: white;
	padding:5px 12px;
	background-color: #35a6ff
}
.init:hover{
	background-color: #19adf1;
}
.init:active{
	outline: none;
	background-image: none;
}
.init span{
    margin-right:10px;
}