
.init{
    position: relative;
	display: block;
	width:100%;
    padding:10px 0;
	vertical-align: middle;
	background-image: none;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: #333;
}
.userHead{
    position: absolute;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.postContent{
    padding-left:55px;
    padding-right:10px;
}
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
    height: 30px;
    font-size: 14px;
}
.userName{
    display: inline-block;
}
.time{
    display: inline-block;
}
.article{
    width:100%;
    min-height:70px;
    margin-bottom:20px;
    background-color: rgb(251, 250, 255);
}
.operationContainer{
    height:45px;
}
.operationContainer:after{
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.operation{
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    width:220px;
}
.operation li{
    float: left;
    list-style-type: none;
    text-align: center;
    margin-left:10px;
}
.operation li :hover{
    background-color: #ff5c45;
}
.operation li span{
    display: inline-block;
    padding:8px;
    font-size: 14px;
    cursor: pointer;
}
