
.init{
	display: block;
	width:100%;
    padding-left: 20px;
	vertical-align: middle;
	background-image: none;
	border: none;
	border-radius: 3px;
	white-space: nowrap;
	outline: none;
	color: #333;
}
.init label{
    display: block;
    font-weight: 600;
}
.item{
    margin-bottom:40px;
}
.item p{
    font-size: 14px;
    margin: 10px 0 5px 0;
    color: #1e1e1e;
}
.tips{
    display: block;
    color: #888888;
    font-size: 12px;
}
.edit{
    margin-left:15px;
    padding:5px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition: 0.1s;
}
.edit:hover{
    background-color: #f5853c;
    transition: 0.1s;
}
.picEdit{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
}
.item .userhead{
    width:110px;
    height:110px;
    margin: 10px 0 5px 0;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
}